

#container{
    height: 750px;
    width: 1200px;
    margin: auto;
    background-color: lightblue;
    top: 30px;
}

#display{
    position: relative;
    height: 90%;
    width: 90%;
    border: 3px solid green;
    margin: auto;
    top: inherit;
    display: flex;

}

.console{
    flex-grow: 1;
    border: 3px solid black;
}

.pictures{
    padding-left: 30px;
    height: 80%;
    border: 3px solid red;
}

.my_images {
    width: 450px;
    height: 100%;
}

.score {
    border: 3px solid blue;
    height: 19%;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: auto;
}
