

div {
    margin: 20px;
    height: auto;
    width: auto;
    vertical-align: middle;
    text-align: center;
}

img {
    height: 450px;
    width: 450px;
}

#console1 {
    float: left;
}

#console2 {
    float: right;
}

.score {
    width: 450px;
    text-align: center;
    font-size: 80px;
    word-wrap: break-word;
    line-height: 40px;
}
